* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  background-color: whitesmoke;

  display: flex;
  flex-wrap: wrap;
}
h1 {
  margin: 15px;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 44px;
  background: linear-gradient(steelblue, lightsteelblue);
  box-shadow: 0px 14px 11px 0px rgba(70, 130, 180, 0.75);
  -webkit-box-shadow: 0px 14px 11px 0px rgba(70, 130, 180, 0.75);
  -moz-box-shadow: 0px 14px 11px 0px rgba(70, 130, 180, 0.75);
}

.card {
  width: 200px;
  height: 300px;
  perspective: 600px;
  margin: 1rem;
  margin-top: 20px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(145, 143, 143, 0.205), gray);
  box-shadow: 11px 10px 9px 2px rgba(107, 107, 107, 0.75);
  -webkit-box-shadow: 11px 10px 9px 2px rgba(107, 107, 107, 0.75);
  -moz-box-shadow: 11px 10px 9px 2px rgba(107, 107, 107, 0.75);
  display: grid;
  align-items: stretch;
  place-content: center;
  font-size: 8rem;
  border-radius: 1rem;
  backface-visibility: hidden;
  user-select: none;
}

.back {
  background: linear-gradient(steelblue, lightsteelblue);
  transform: rotateY(180deg);
}

.card.flipped .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
#contenedor-contadores {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

#contador-intentos,
#contador-movimientos,
#restart-button {
  font-size: 30px;
}

#contador-intentos {
  margin-left: 300px;
}

#contador-movimientos {
  margin-left: 300px;
}

#restart-button {
  margin-left: 300px;
  width: 220px;
  height: 60px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
  background: rgb(206, 206, 206);
}
